*{
    margin:0;
    padding:0;
}

@media only screen and (max-width:768px) {
  .header1{
    
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    background-color: rgb(227, 227, 227);
    padding-top: 1px;
    align-items: center;
    

    
  
   
  }
  .cartimg{
    width:30px;
    height: 30px;
}
.shopping{
  font-size:25px;
  margin-top: 0px;

}
.left{
  display: flex;
  padding:10px;
  
}
.user{
width: 30px;
height:30px;;
}
.right{
display: flex;
padding:10px;
}

.header2{
  display: flex;
  justify-content: space-around;

  border: 1px solid black;
 
}
.brand{
  width:30px;
  height: 30px;
  margin-top:8px;
}
.number{
  font-size: 10px;
  margin-top:10px;
}

.navbar{
  border:1px solid black;
  padding: 20px;
}
.navbar .navsec{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navsec .navitems{
     list-style: none;
    
}
.navlink{
  text-decoration: none;
  color: black;
}
.a{
  padding: 10px;
  background-color: orange;
  color:white;
  font-weight: bold;
  border:1px solid orange
}
.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(227, 227, 227); 
}

.leftcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 20px;
  

}
h1{
  font-size: 20px;
}
h2{
  font-size: 15px;
}
.p1{
  margin-top:10px;
  font-size: 13px;
}
.getbtn{
  padding: 5px;
  border: 1px solid orange;
  background-color: orange;
  border-radius: 3px;
  margin-top: 10px;
  color: white;
  font-weight: bold;


}
.rightcontent{
  padding-top:20px;
  
}

.details{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input{
width: 200px;
display: flex;
flex-direction: column;
justify-content: center;




}

.area{
  width: 200px;
  margin:0px;
  margin-left: 40px;
  
}
.bottom{
  margin-top:1px
}
.msgbtn{
  width: 100px;
  padding:6px;
  border: 1px solid orange;
  background-color: orange;
  color: white;
  font-weight: bold;
  margin-left:80px}
  .content2{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color: rgb(107, 173, 244);
  }
  .ad{
    display: flex;
    flex-direction: column;
    text-align: center;
    
      }
 .ad1{
    padding:25px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
 
 .p3{
 text-align: justify;
 color:white;
 font-size: 13px;
 }
 h3{
    color: white;
    font-size:20px;
 }
 .designBtn{
     padding:10px;
     width: 120px;
     background: white;
     color: rgb(107, 173, 244);
     font-weight: bold;
     border: 1px solid white;
 }
 .content3{
  background-color: rgb(227, 227, 227);
  display: flex;
  
  flex-direction: row;
  justify-content: center;
  
  align-items: center;
  padding:10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .vdoimg{
      width:300px;
      height:200px;
   }
   .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding:10px;
  
   }
   .p1{
      text-align: justify;
   }
   .lbtn{
      width: 150px;
      padding:8px;
      border: 1px solid orange;
      background-color: orange;
      color: white;
      font-weight: bold;
      margin-top: 10px;
   }
 
 .feature{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:20px;
 }
 .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 250px;
   padding:10px;

 }
 .laptop{
    height: 100px;
    width: 100px;
 }
 .desc{
    text-align: left;
    font-size: 10px;
 }
 .button{
  display: flex;
  justify-content: center;
  padding: 20px;
 }
 .contactus{
  display: flex;
  flex-direction: row;
  background-color: rgb(227, 227, 227);
  align-items: center;
  padding:20px;
  font-size: 10px;
  justify-content: center;
}
li{
  list-style: none;
}
.help{
  padding:20px;
  
  
}
.footer{
  padding:20px;
  background-color: gray;
  color:lightgray;
  width: 100%;
  font-size: 10px;
  
}
.copyright{
  text-align: center;
}
}






@media only screen and (max-width:600px){
  
    .header1{
      display: flex;
      flex-direction: column;
      
      align-items: center;
      background-color: rgb(227, 227, 227);
      padding-top: 10px;
      
    
     
    }
    .cartimg{
        width:20px;
        height: 20px;
    }
    .shopping{
        font-size:10px;
        margin-top: 5px;
    }
    .left{
        display: flex;
        padding:10px;
        
    }
  .user{
    width: 20px;
    height: 20px;;
  }
  .right{
    display: flex;
    padding:10px;
  }
  .header2{
    display: flex;
    justify-content: space-around;
  
 
   
  }
  .brand{
    width:30px;
    height: 30px;
    margin-top:8px;
  }
  .number{
    font-size: 10px;
    margin-top:10px;
  }
  .navbar{
 
    padding: 10px;
  }
  .navbar .navsec{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navsec .navitems{
       list-style: none;
       padding:5px
  }
  .navlink{
    text-decoration: none;
    color: black;
  }
  .a{
    padding: 10px;
    background-color: orange;
    color:white;
    font-weight: bold;
    border:1px solid orange
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(227, 227, 227); 
}

  .leftcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding: 20px;
    

  }
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 18px;
  }
  .p1{
    margin-top:10px;
    font-size: 14px;
  }
  .getbtn{
    padding: 5px;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 3px;
    margin-top: 10px;
    color: white;
    font-weight: bold;


  }
  .rightcontent{
    padding-top:20px;
    
  }

.details{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  input{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

 
  }
  .area{
    width: 200px;
  
   
  }
  .bottom{
    margin-top:1px
  }
  .msgbtn{
    width: 100px;
    padding:10px;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    font-weight: bold;
    margin-left:94px

  }
  .content2{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    background-color: rgb(107, 173, 244);
  }
  .ad{
    display: flex;
    flex-direction: column;
    text-align: center;
      }
 .ad1{
    padding:25px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
 
 .p3{
 text-align: justify;
 color:white;
 font-size: 13px;
 }
 h3{
    color: white;
    font-size:20px;
 }
 .designBtn{
     padding:10px;
     width: 120px;
     background: white;
     color: rgb(107, 173, 244);
     font-weight: bold;
     border: 1px solid white;
 }
 .content3{
    background-color: rgb(227, 227, 227);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      .vdoimg{
        width:200px;
        height:100px;
     }
     .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:10px;
    
     }
     .p1{
        text-align: justify;
     }
     .lbtn{
        width: 150px;
        padding:8px;
        border: 1px solid orange;
        background-color: orange;
        color: white;
        font-weight: bold;
        margin-top: 10px;
     }
    
     .feature{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:20px
     }
     .card{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
       padding:10px;
       
     }
     .laptop{
        height: 100px;
        width: 100px;
     }
     .desc{
        text-align: left;
        font-size: 10px;
     }
     .button{
      display: flex;
      justify-content: center;
      padding: 20px;
     }
     
    .contactus{
        display: flex;
        flex-direction: column;
        background-color: rgb(227, 227, 227);
        align-items: center;
        padding:20px;
    }
    li{
        list-style: none;
    }
    .help{
        padding:20px;
        
    }
.footer{
    padding:20px;
    background-color: gray;
    color:lightgray;
    width: 100%;
    
}
.copyright{
    text-align: center;
}
  }
  
 

  





