*{
    margin: 0;
    padding:0;
}
.header1{
    background-color: rgb(234, 228, 228);
    border: 1px solid rgb(0, 0, 0);
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.left{
    display: flex;
    margin-left: 150px;
    
}
.cartimg{
    width:20px;
    height: 20px;
    margin-top: 5px;
}
.shopping{
    font-size: 13px;
    margin-left: 10px;
    margin-top: 6px;
}
.user{
    width:20px;
    height: 20px;
    margin-top: 5px;
}
.right{
    display: flex;
    margin-right: 200px;
}
.login{
    font-size: 13px;
    margin-left: 10px;
    margin-top: 4px;
}
.header2{
    display: flex;
    justify-content: space-between;
   
    height: 100px;
}
.brandlogo{
   margin-left: 170px; 
   padding-top: 12px;
}
.brand{
    border-radius: 100%;
}
.number{
    padding-top: 30px;
    padding-right: 170px;
}
.navbar{
 
  height: 40px;
  
}
.navbar .navsec{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-top: 10px;
}
 .navlink{
    text-decoration: none;
    color: black;
}
.quote{
    border: 1px solid orange;
    padding:8px;
    margin-top:-7px;
    background-color: orange;
    color:white;
    font-weight: bold;
  
}
.content{
   border:1px solid black;
    height:400px;
    background-color: rgb(234, 228, 228);
  display: flex;
  width: 100%;
  justify-content: space-between;
    
}
.rightcontent{
    position: relative;
   width: 40%;

   height: 300px;
   top:10%;
   left:10%;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
  
}
.getbtn{
    border: 1px solid orange;
    padding:5px 10px;
    background-color: orange;
    color:white;
    border-radius:10px;
    font-weight: bold;
}
.leftcontent{
   
    width: 50%;
    display: flex;
    
}
input{
 padding: 5px;
 font-weight: bold;
}
form{
    position: relative;
    top:12%;
    left:25%;
}
.msgbtn{
    width: 100%;
    padding: 5px;
    background-color: orange;
    border: 1px solid orange;
    color: white;
    font-weight: bold;
    border-radius:4px;
}
.leftcontent div{
    padding: 5px;

}
.content2{
    width: 100%;
    display: flex;

    height: 150px;
    justify-content: space-between;
    background-color: rgb(101, 195, 233);
}
.ad{
    width: 40%;
    padding:20px 170px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.p3{
    font-size: 13px;
    padding-top: 10px;
}
.design{
  position: relative;
  top:40%;
  right: 30%;
}
.designBtn{
    background-color: rgb(255, 255, 255);
    width: 150px;
    padding: 10px;
    color: rgb(101, 195, 233);
    border: 1px solid rgb(255, 255, 255);
    font-weight: bold;
}
.content3{
    display: flex;
}
.vdo{
    width: 50%;
    border: 1px solid gray;
}
.ad2{

}





















@media screen and (max-width: 700px) {
    .left{
        display: flex;
        margin-left: 250px;
    }
  }